* {
    font-family: sans-serif;
    color: lightgray;
    
    
}
body {
    border: 5px solid lightgray;
    padding-left: 50px;
    margin-right: 200px;
    
}
.nav-1 {
    display: flex;    
    font-size: 20px;
    width: 70%;
    justify-content: space-between;
    list-style: none;


    
}
.card {
    margin-right: 1rem;
    text-decoration: none;
}

.nav-2 {
    display: flex;
    justify-content: space-between;
    width: 70%;  
    list-style: none;  
}
.cards a {
    text-decoration: none;
    color: red;

}
h4 {
    width: 70%;
    margin-left: 50px;
    
}
img {
    width: 70%;
}
.continue {
    text-align: end;
    margin-right: 300px;
    color: tomato;
    font-weight: 900;
    font-size: 20px;
}
.first-headline {
    color: tomato;
    font-size: 55px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 10;
}
.second-headline {
    font-size: 50px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 15px;
}
.left-margin-text {
    text-shadow: none;
}
.date {
    color: lightgray;
    font-size: 36px;
    #second-date {
        margin-bottom: 200;
    }
}
#last-bar {
    color: tomato;
    font-size: 22px;
    
}
ul {
    padding: 0;
}
hr {
    width: 72%;
    color: lightgray;
    margin-top: 40px;
    margin-left: 0px;
}
.sub-head::first-letter {
    initial-letter: 4;
    padding: 20px;
    }
.preview {
    display: block;    
    
}
p {
    font-size: 22px;
    width: 72%;
}
h6 {
    font-size: 20px;
}